Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy as st

%matplotlib inline

Data import

pip install openpyxl

In [2]:
demo = pd.read_excel('C:/Users/hajar/bootcamp-files/Week_5/Project_website_performance_evaluation/data/raw/df_final_demo.xlsx')
display(demo. head(5))

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [3]:
client_expt = pd.read_excel('C:/Users/hajar/bootcamp-files/Week_5/Project_website_performance_evaluation/data/raw/df_final_experiment_clients.xlsx')
display(client_expt. head(5))

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [4]:
webdata_pt1 = pd.read_excel('C:/Users/hajar/bootcamp-files/Week_5/Project_website_performance_evaluation/data/raw/df_final_webdata_pt_1.xlsx')
display(webdata_pt1. head(5))

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [5]:
webdata_pt2 = pd.read_excel('C:/Users/hajar/bootcamp-files/Week_5/Project_website_performance_evaluation/data/raw/df_final_webdata_pt_2.xlsx')
display(webdata_pt2. head(5))

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [6]:
webdata_merged = pd.concat([webdata_pt1, webdata_pt2], axis=0)
display(webdata_merged)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

Final 3 datasets to work with:
1. demo
2. client_expt
3. webdata_merged

Data understanding and cleaning

Data set 1: Demographics data (DataFrame : demo)

In [7]:
demo.shape

(70609, 9)

In [8]:
demo.dtypes

client_id             int64
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
dtype: object

In [9]:
display(demo.describe)

<bound method NDFrame.describe of        client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  num_accts  \
0         836976             6.0              73.0      60.5     U        2.0
1        2304905             7.0              94.0      58.0     U        2.0
2        1439522             5.0              64.0      32.0     U        2.0
3        1562045            16.0             198.0      49.0     M        2.0
4        5126305            12.0             145.0      33.0     F        2.0
...          ...             ...               ...       ...   ...        ...
70604    7993686             4.0              56.0      38.5     U        3.0
70605    8981690            12.0             148.0      31.0     M        2.0
70606     333913            16.0             198.0      61.5     F        2.0
70607    1573142            21.0             255.0      68.0     M        3.0
70608    5602139            21.0             254.0      59.5     F        3.0

              bal  calls_6_mnth  logons_6_mnth
0        45105.30           6.0            9.0
1       110860.30           6.0            9.0
2        52467.79           6.0            9.0
3        67454.65           3.0            6.0
4       103671.75           0.0            3.0
...           ...           ...            ...
70604  1411062.68           5.0            5.0
70605   101867.07           6.0            6.0
70606    40745.00           3.0            3.0
70607   475114.69           4.0            4.0
70608   157498.73           7.0            7.0

[70609 rows x 9 columns]>

In [10]:
demo.isnull().sum().sort_values(ascending = False)

clnt_age            15
clnt_tenure_yr      14
clnt_tenure_mnth    14
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
client_id            0
dtype: int64

In [11]:
demo.dropna(thresh = 5, inplace = True)

In [12]:
demo.isnull().sum().sort_values(ascending = False)

clnt_age            1
client_id           0
clnt_tenure_yr      0
clnt_tenure_mnth    0
gendr               0
num_accts           0
bal                 0
calls_6_mnth        0
logons_6_mnth       0
dtype: int64

In [13]:
demo = demo.dropna(subset=['clnt_age'])

In [14]:
demo.isnull().sum().sort_values(ascending = False)

client_id           0
clnt_tenure_yr      0
clnt_tenure_mnth    0
clnt_age            0
gendr               0
num_accts           0
bal                 0
calls_6_mnth        0
logons_6_mnth       0
dtype: int64

In [15]:
demo.drop_duplicates()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [16]:
demo['gendr'].value_counts()

gendr
U    24122
M    23724
F    22745
X        3
Name: count, dtype: int64

Replace U with random M or F --- 50-50

In [17]:
u_indices = demo[demo['gendr'] == 'U'].index

random_assignments = np.random.choice(['M', 'F'], size=len(u_indices), p=[0.5, 0.5])
demo.loc[u_indices, 'gendr'] = random_assignments

demo['gendr'] = demo['gendr'].replace('X', 'F')

demo['gendr'].value_counts()

gendr
M    35868
F    34726
Name: count, dtype: int64

Data set 2: experiment_client (DataFrame: client_expt)

In [18]:
client_expt.head(3)

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control

In [19]:
client_expt.shape

(70609, 2)

In [20]:
client_expt.dtypes

client_id     int64
Variation    object
dtype: object

In [21]:
client_expt.info

<bound method DataFrame.info of        client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]>

In [22]:
client_expt.isnull().sum().sort_values(ascending = False)

Variation    20109
client_id        0
dtype: int64

In [23]:
client_expt = client_expt.dropna(subset=['Variation'])

In [24]:
client_expt.isnull().sum()

client_id    0
Variation    0
dtype: int64

In [25]:
client_expt.drop_duplicates()

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
50495     393005   Control
50496    2908510   Control
50497    7230446      Test
50498    5230357      Test
50499    6334360      Test

[50500 rows x 2 columns]

In [26]:
client_expt.shape

(50500, 2)

Data set 3: webdata (DataFrame: webdata_merged)

In [27]:
webdata_merged.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [28]:
webdata_merged.shape

(755405, 5)

In [29]:
webdata_merged.dtypes

client_id                int64
visitor_id              object
visit_id                object
process_step            object
date_time       datetime64[ns]
dtype: object

In [30]:
webdata_merged.isnull().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [31]:
webdata_merged['date'] = webdata_merged['date_time'].dt.date
webdata_merged['year'] = webdata_merged['date_time'].dt.year
webdata_merged['month'] = webdata_merged['date_time'].dt.month
webdata_merged['time'] = webdata_merged['date_time'].dt.time

In [32]:
webdata_merged

,client_id,visitor_id,visit_id,process_step,date_time,date,year,month,time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,2017-04-17,2017,4,15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,2017-04-17,2017,4,15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,2017-04-17,2017,4,15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,2017-04-17,2017,4,15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,2017-04-17,2017,4,15:18:04
...,...,...,...,...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10,2017-05-24,2017,5,18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29,2017-05-24,2017,5,18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51,2017-05-24,2017,5,18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34,2017-05-24,2017,5,18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09,2017-06-03,2017,6,12:17:09

In [33]:
def quarterly_bins(webdata_merged):
    quarters = []   
    for month in webdata_merged['month']:
        if month <= 3:
            quarters.append('Q1')
        elif month <= 6:
            quarters.append('Q2')
        elif month <= 9:
            quarters.append('Q3')
        else:
            quarters.append('Q4')
    return quarters


webdata_merged['quarters'] = quarterly_bins(webdata_merged)
display(webdata_merged)

,client_id,visitor_id,visit_id,process_step,date_time,date,year,month,time,quarters
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,2017-04-17,2017,4,15:27:07,Q2
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,2017-04-17,2017,4,15:26:51,Q2
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,2017-04-17,2017,4,15:19:22,Q2
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,2017-04-17,2017,4,15:19:13,Q2
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,2017-04-17,2017,4,15:18:04,Q2
...,...,...,...,...,...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10,2017-05-24,2017,5,18:46:10,Q2
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29,2017-05-24,2017,5,18:45:29,Q2
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51,2017-05-24,2017,5,18:44:51,Q2
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34,2017-05-24,2017,5,18:44:34,Q2
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09,2017-06-03,2017,6,12:17:09,Q2

In [34]:
webdata_merged.drop_duplicates()

,client_id,visitor_id,visit_id,process_step,date_time,date,year,month,time,quarters
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,2017-04-17,2017,4,15:27:07,Q2
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,2017-04-17,2017,4,15:26:51,Q2
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,2017-04-17,2017,4,15:19:22,Q2
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,2017-04-17,2017,4,15:19:13,Q2
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,2017-04-17,2017,4,15:18:04,Q2
...,...,...,...,...,...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10,2017-05-24,2017,5,18:46:10,Q2
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29,2017-05-24,2017,5,18:45:29,Q2
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51,2017-05-24,2017,5,18:44:51,Q2
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34,2017-05-24,2017,5,18:44:34,Q2
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09,2017-06-03,2017,6,12:17:09,Q2

Export cleaned data set to csv

In [35]:
demo.to_csv('df_demo_cleaned.csv', index = False)
client_expt.to_csv('df_client_expt_cleaned.csv', index = False)
webdata_merged.to_csv('df_webdata_cleaned.csv', index = False)

Exploratory Data Analysis

In [36]:
df_demo_cleaned = pd.read_csv('df_demo_cleaned.csv')
df_demo_cleaned.shape

(70594, 9)

In [37]:
df_client_expt_cleaned = pd.read_csv('df_client_expt_cleaned.csv')
df_client_expt_cleaned.shape

(50500, 2)

In [38]:
df_webdata_cleaned = pd.read_csv('df_webdata_cleaned.csv')
df_webdata_cleaned.shape

(755405, 10)

In [39]:
df_demo_cleaned.isnull().sum()

client_id           0
clnt_tenure_yr      0
clnt_tenure_mnth    0
clnt_age            0
gendr               0
num_accts           0
bal                 0
calls_6_mnth        0
logons_6_mnth       0
dtype: int64

In [40]:
df_demo_cleaned.describe()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,num_accts,bal,calls_6_mnth,logons_6_mnth
count,7.059400e+04,70594.000000,70594.000000,70594.000000,70594.000000,7.059400e+04,70594.000000,70594.000000
mean,5.005026e+06,12.053007,150.659999,46.442240,2.255532,1.474467e+05,3.382469,5.566720
std,2.877289e+06,6.871850,82.090264,15.591273,0.535000,3.015106e+05,2.236595,2.353296
min,1.690000e+02,2.000000,33.000000,13.500000,1.000000,1.378942e+04,0.000000,1.000000
25%,2.519543e+06,6.000000,82.000000,32.500000,2.000000,3.734660e+04,1.000000,4.000000
50%,5.016974e+06,11.000000,136.000000,47.000000,2.000000,6.333459e+04,3.000000,5.000000
75%,7.483074e+06,16.000000,192.000000,59.000000,2.000000,1.375461e+05,6.000000,7.000000
max,9.999839e+06,62.000000,749.000000,96.000000,8.000000,1.632004e+07,7.000000,9.000000

In [41]:
df_demo_cleaned['clnt_age'].kurtosis

<bound method Series.kurt of 0        60.5
1        58.0
2        32.0
3        49.0
4        33.0
         ...
70589    38.5
70590    31.0
70591    61.5
70592    68.0
70593    59.5
Name: clnt_age, Length: 70594, dtype: float64>

Merge client_expt with demographics

In [43]:
df_merged_client_ext_demo = pd.merge(df_client_expt_cleaned, df_demo_cleaned, on='client_id', how='left')
display(df_merged_client_ext_demo)

,client_id,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,9988021,Test,5.0,64.0,79.0,M,2.0,189023.86,1.0,4.0
1,8320017,Test,22.0,274.0,34.5,M,2.0,36001.90,5.0,8.0
2,4033851,Control,12.0,149.0,63.5,M,2.0,142642.26,5.0,8.0
3,1982004,Test,6.0,80.0,44.5,F,2.0,30231.76,1.0,4.0
4,9294070,Control,5.0,70.0,29.0,M,2.0,34254.54,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...
50495,393005,Control,15.0,191.0,52.5,M,2.0,60344.67,1.0,4.0
50496,2908510,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0
50497,7230446,Test,6.0,74.0,62.0,M,2.0,58778.11,2.0,5.0
50498,5230357,Test,23.0,278.0,30.5,M,2.0,61349.70,0.0,3.0
50499,6334360,Test,4.0,53.0,66.5,F,2.0,93103.47,6.0,9.0

In [44]:
df_merged_client_ext_demo.dropna(thresh = 5, inplace = True)

In [45]:
df_merged_client_ext_demo.isnull().sum()

client_id           0
Variation           0
clnt_tenure_yr      0
clnt_tenure_mnth    0
clnt_age            0
gendr               0
num_accts           0
bal                 0
calls_6_mnth        0
logons_6_mnth       0
dtype: int64

In [46]:
df_merged_client_ext_demo.to_csv('df_merged_client_ext_demo.csv', index = False)

In [47]:
df_merged_client_ext_demo.value_counts().sum()

50487

In [48]:
df_merged_client_ext_demo['Variation'].value_counts ()

Variation
Test       26961
Control    23526
Name: count, dtype: int64

In [49]:
df_merged_client_ext_demo['clnt_tenure_mnth'] = df_merged_client_ext_demo['clnt_tenure_mnth'].astype(int)
df_merged_client_ext_demo['clnt_age'] = df_merged_client_ext_demo['clnt_age'].astype(int)
df_merged_client_ext_demo['num_accts'] = df_merged_client_ext_demo['num_accts'].astype(int)


average_age = df_merged_client_ext_demo.groupby(['Variation', 'gendr'])['clnt_age'].mean().reset_index(name='average_age')
median_tenure = df_merged_client_ext_demo.groupby(['Variation', 'gendr'])['clnt_tenure_mnth'].median().reset_index(name='median_tenure')
gender_distribution = df_merged_client_ext_demo.groupby(['Variation', 'gendr']).size().unstack(fill_value=0).reset_index()
average_accounts = df_merged_client_ext_demo.groupby(['Variation', 'gendr'])['num_accts'].mean().reset_index(name='average_accounts')

print(average_age)

summary_df_merged_client_ext_demo = average_age
summary_df_merged_client_ext_demo = summary_df_merged_client_ext_demo.merge(median_tenure, on=['Variation', 'gendr'])
summary_df_merged_client_ext_demo = summary_df_merged_client_ext_demo.merge(average_accounts, on=['Variation', 'gendr'])


display(summary_df_merged_client_ext_demo)
display(gender_distribution)

  Variation gendr  average_age
0   Control     F    47.637513
1   Control     M    46.895007
2      Test     F    47.119449
3      Test     M    46.655423

  Variation gendr  average_age  median_tenure  average_accounts
0   Control     F    47.637513          137.0          2.219131
1   Control     M    46.895007          137.0          2.298723
2      Test     F    47.119449          133.0          2.220774
3      Test     M    46.655423          136.0          2.278513

gendr Variation      F      M
0       Control  11468  12058
1          Test  13353  13608

In [50]:
test_group = df_merged_client_ext_demo[df_merged_client_ext_demo['Variation'] == 'Test']
control_group = df_merged_client_ext_demo[df_merged_client_ext_demo['Variation'] == 'Control']
display(test_group)
display(control_group)

,client_id,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,9988021,Test,5.0,64,79,M,2,189023.86,1.0,4.0
1,8320017,Test,22.0,274,34,M,2,36001.90,5.0,8.0
3,1982004,Test,6.0,80,44,F,2,30231.76,1.0,4.0
5,9466803,Test,11.0,137,27,F,2,46131.19,1.0,4.0
6,3170143,Test,21.0,254,53,F,2,192109.59,6.0,9.0
...,...,...,...,...,...,...,...,...,...,...
50490,5969816,Test,19.0,238,26,F,2,35887.12,0.0,3.0
50492,8692087,Test,14.0,179,60,F,3,85826.90,4.0,7.0
50497,7230446,Test,6.0,74,62,M,2,58778.11,2.0,5.0
50498,5230357,Test,23.0,278,30,M,2,61349.70,0.0,3.0
50499,6334360,Test,4.0,53,66,F,2,93103.47,6.0,9.0

,client_id,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
2,4033851,Control,12.0,149,63,M,2,142642.26,5.0,8.0
4,9294070,Control,5.0,70,29,M,2,34254.54,0.0,3.0
7,6651403,Control,13.0,162,56,M,2,324712.88,4.0,7.0
9,2105948,Control,6.0,74,61,M,2,39795.28,1.0,4.0
12,9814849,Control,12.0,149,32,F,2,33807.15,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...
50491,4364429,Control,7.0,87,31,M,2,106927.60,0.0,4.0
50493,8730282,Control,27.0,334,50,F,3,464879.31,2.0,5.0
50494,5305116,Control,18.0,226,63,F,3,89726.65,2.0,5.0
50495,393005,Control,15.0,191,52,M,2,60344.67,1.0,4.0
50496,2908510,Control,21.0,252,34,M,3,141808.05,6.0,9.0

In [51]:
# Calculate KPIs
def calculate_kpis(group):
    kpis = {
        'Average Balance': group['bal'].mean(),
        'Average Tenure (years)': group['clnt_tenure_yr'].mean(),
        'Average Age': group['clnt_age'].mean(),
        'Average Accounts': group['num_accts'].mean(),
        'Average Calls': group['calls_6_mnth'].mean(),
        'Average Logons': group['logons_6_mnth'].mean(),
        'Gender Distribution (M)': group['gendr'].value_counts(normalize=True).get('M', 0) * 100,
        'Gender Distribution (F)': group['gendr'].value_counts(normalize=True).get('F', 0) * 100,
        'Activity Rate': (group['calls_6_mnth'] > 0).mean() * 100
    }
    return kpis

test_kpis = calculate_kpis(test_group)
control_kpis = calculate_kpis(control_group)

display("Test Group KPIs:", test_kpis)
display("Control Group KPIs:", control_kpis)

'Test Group KPIs:'

{'Average Balance': 148962.60503171248,
 'Average Tenure (years)': 11.98290122769927,
 'Average Age': 46.88524164533956,
 'Average Accounts': 2.2499165461221766,
 'Average Calls': 3.061941322651237,
 'Average Logons': 6.101850821557064,
 'Gender Distribution (M)': 50.47290530766663,
 'Gender Distribution (F)': 49.52709469233337,
 'Activity Rate': 84.2698712955751}

'Control Group KPIs:'

{'Average Balance': 150151.90018575193,
 'Average Tenure (years)': 12.087860239734761,
 'Average Age': 47.25694975771487,
 'Average Accounts': 2.259925189152427,
 'Average Calls': 3.1291762305534303,
 'Average Logons': 6.16624160503273,
 'Gender Distribution (M)': 51.25393182011392,
 'Gender Distribution (F)': 48.74606817988608,
 'Activity Rate': 85.16109835926208}

In [52]:
from scipy.stats import ttest_ind

balance_control = control_group['bal'].dropna()
balance_test = test_group['bal'].dropna()
# Ensure they are numeric
balance_control = pd.to_numeric(balance_control, errors='coerce')
balance_test = pd.to_numeric(balance_test, errors='coerce')

balance_control = balance_control.dropna()
balance_test = balance_test.dropna()

# Hypothesis
# H0: mu_bal control group = mu_bal expt group
# H1: mu_bal control group != mu_bal expt group

alpha = 0.05

# Calculate t-statistic 
t_stat, p_value = ttest_ind(balance_control, balance_test, equal_var=False)

print("T-statistic: ", t_stat)
print("p-value: ", p_value)

if p_value < alpha:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

T-statistic:  0.4424943116782531
p-value:  0.6581334595529129
Fail to reject the null hypothesis

In [53]:
Tenure_control = control_group['clnt_tenure_yr'].dropna()
Tenure_test = test_group['clnt_tenure_yr'].dropna()

Tenure_control = pd.to_numeric(Tenure_control, errors='coerce')
Tenure_test = pd.to_numeric(Tenure_test, errors='coerce')

Tenure_control = Tenure_control.dropna()
Tenure_test = Tenure_test.dropna()

# hypothesis
# H0: mu_bal control group = mu_bal expt group
# H1: mu_bal control group != mu_bal expt group

alpha = 0.05
t_stat, p_value = ttest_ind(Tenure_control, Tenure_test, equal_var=False)

print("T-statistic: ", t_stat)
print("p-value: ", p_value)
if p_value < alpha:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

T-statistic:  1.7143316597656557
p-value:  0.08647409181326424
Fail to reject the null hypothesis

In [54]:
df_webdata_cleaned['client_id'].value_counts ()

client_id
5574879    111
2274658     90
2128341     84
5951379     81
1595223     81
          ...
656715       1
2066750      1
1283050      1
6963245      1
674799       1
Name: count, Length: 120157, dtype: int64

In [55]:
df_webdata_cleaned.shape

(755405, 10)

In [56]:
merged_webdata_client_expt = df_webdata_cleaned.merge(df_client_expt_cleaned, on = 'client_id',how = 'left')

In [57]:
display(merged_webdata_client_expt )

,client_id,visitor_id,visit_id,process_step,date_time,date,year,month,time,quarters,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,2017-04-17,2017,4,15:27:07,Q2,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,2017-04-17,2017,4,15:26:51,Q2,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,2017-04-17,2017,4,15:19:22,Q2,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,2017-04-17,2017,4,15:19:13,Q2,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,2017-04-17,2017,4,15:18:04,Q2,Test
...,...,...,...,...,...,...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10,2017-05-24,2017,5,18:46:10,Q2,NaN
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29,2017-05-24,2017,5,18:45:29,Q2,NaN
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51,2017-05-24,2017,5,18:44:51,Q2,NaN
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34,2017-05-24,2017,5,18:44:34,Q2,NaN
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09,2017-06-03,2017,6,12:17:09,Q2,NaN

In [58]:
merged_webdata_client_expt_1 = merged_webdata_client_expt.copy()

In [59]:
merged_webdata_client_expt_1.dropna(inplace = True)

In [60]:
merged_webdata_client_expt_1.to_csv("merged_webdata_client_expt.csv")

Segmentation : Test group and Control Group

In [61]:
control_group_1 = merged_webdata_client_expt_1[merged_webdata_client_expt_1['Variation'] == 'Control']
test_group_1 = merged_webdata_client_expt_1[merged_webdata_client_expt_1['Variation'] == 'Test']

print(f'Control Group Size: {control_group_1.shape[0]}')
print(f'Test Group Size: {test_group_1.shape[0]}')

Control Group Size: 143462
Test Group Size: 177847

In [62]:
display(control_group_1)
control_group_1.to_csv("control_group.csv")

,client_id,visitor_id,visit_id,process_step,date_time,date,year,month,time,quarters,Variation
13,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:03,2017-04-05,2017,4,12:29:03,Q2,Control
14,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:01,2017-04-05,2017,4,12:29:01,Q2,Control
15,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:28:52,2017-04-05,2017,4,12:28:52,Q2,Control
16,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:26:08,2017-04-05,2017,4,12:26:08,Q2,Control
17,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:24:43,2017-04-05,2017,4,12:24:43,Q2,Control
...,...,...,...,...,...,...,...,...,...,...,...
637471,433098,5505424_50616523266,773565250_67577573147_389841,start,2017-05-13 15:30:47,2017-05-13,2017,5,15:30:47,Q2,Control
637532,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:57:17,2017-05-10,2017,5,22:57:17,Q2,Control
637533,2908510,814969699_90652851448,562606085_36368381773_92090,step_2,2017-05-10 22:56:31,2017-05-10,2017,5,22:56:31,Q2,Control
637534,2908510,814969699_90652851448,562606085_36368381773_92090,step_1,2017-05-10 22:56:23,2017-05-10,2017,5,22:56:23,Q2,Control
637535,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:56:20,2017-05-10,2017,5,22:56:20,Q2,Control

In [63]:
display(test_group_1)
test_group_1.to_csv("test_group.csv")

,client_id,visitor_id,visit_id,process_step,date_time,date,year,month,time,quarters,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,2017-04-17,2017,4,15:27:07,Q2,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,2017-04-17,2017,4,15:26:51,Q2,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,2017-04-17,2017,4,15:19:22,Q2,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,2017-04-17,2017,4,15:19:13,Q2,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,2017-04-17,2017,4,15:18:04,Q2,Test
...,...,...,...,...,...,...,...,...,...,...,...
637483,1574008,117364417_77840596075,528720790_71583064618_169151,confirm,2017-05-06 23:51:05,2017-05-06,2017,5,23:51:05,Q2,Test
637484,1574008,117364417_77840596075,528720790_71583064618_169151,step_3,2017-05-06 23:50:40,2017-05-06,2017,5,23:50:40,Q2,Test
637485,1574008,117364417_77840596075,528720790_71583064618_169151,step_2,2017-05-06 23:43:47,2017-05-06,2017,5,23:43:47,Q2,Test
637486,1574008,117364417_77840596075,528720790_71583064618_169151,step_1,2017-05-06 23:43:34,2017-05-06,2017,5,23:43:34,Q2,Test
637487,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,2017-05-06,2017,5,23:43:27,Q2,Test

In [64]:
unique_visits = merged_webdata_client_expt.drop_duplicates(subset=['client_id', 'visitor_id', 'visit_id', 'Variation'])

test_group = unique_visits[unique_visits['Variation'] == 'Test']
control_group = unique_visits[unique_visits['Variation'] == 'Control']

test_visit_counts = test_group.groupby('visitor_id').size()
control_visit_counts = control_group.groupby('visitor_id').size()

average_visits_test = test_visit_counts.mean()
average_visits_control = control_visit_counts.mean()

print(f"Average visits per visitor (Test Group): {average_visits_test}")
print(f"Average visits per visitor (Control Group): {average_visits_control}")

Average visits per visitor (Test Group): 1.243490758380962
Average visits per visitor (Control Group): 1.2270426608821403

In [65]:
# To calculate session duration for each visit_id
merged_webdata_client_expt['date_time'] = pd.to_datetime(merged_webdata_client_expt['date_time'])
session_durations = merged_webdata_client_expt.groupby(['Variation', 'visit_id']).agg(
    session_start=('date_time', 'min'),
    session_end=('date_time', 'max')
)

session_durations['duration_seconds'] = (session_durations['session_end'] - session_durations['session_start']).dt.total_seconds()

test_sessions = session_durations[session_durations.index.get_level_values('Variation') == 'Test']
control_sessions = session_durations[session_durations.index.get_level_values('Variation') == 'Control']

average_duration_test = test_sessions['duration_seconds'].mean()
average_duration_control = control_sessions['duration_seconds'].mean()

print(f"Average session duration (Test Group): {average_duration_test} seconds")
print(f"Average session duration (Control Group): {average_duration_control} seconds")

Average session duration (Test Group): 316.7778436018957 seconds
Average session duration (Control Group): 281.60129236695764 seconds

In [91]:
# Bounce rate or drop-offs

In [66]:
bounce_visits = merged_webdata_client_expt[merged_webdata_client_expt['process_step'] == 'start'].groupby(['Variation', 'visit_id']).size().reset_index(name='steps')
bounce_visits = bounce_visits[bounce_visits['steps'] == 1]

total_visits = merged_webdata_client_expt.groupby('Variation')['visit_id'].nunique().reset_index(name='total_visits')
bounced_visits = bounce_visits.groupby('Variation')['visit_id'].nunique().reset_index(name='bounced_visits')

bounce_rate_df = pd.merge(total_visits, bounced_visits, on='Variation', how='left')

bounce_rate_df['bounce_rate'] = (bounce_rate_df['bounced_visits'] / bounce_rate_df['total_visits']) * 100

print(bounce_rate_df)

  Variation  total_visits  bounced_visits  bounce_rate
0   Control         32189           21278    66.103327
1      Test         37136           20535    55.296747

In [67]:
merged_webdata_client_expt['date_time'] = pd.to_datetime(merged_webdata_client_expt['date_time'])

merged_webdata_client_expt['date'] = merged_webdata_client_expt['date_time'].dt.date


unique_steps_1 = merged_webdata_client_expt.drop_duplicates(subset=['client_id', 'visitor_id', 'visit_id', 'date', 'process_step', 'Variation'])

# Count steps per visit_id per day
step_counts = unique_steps_1.groupby(['Variation', 'visit_id', 'date']).size().reset_index(name='step_count')

test_steps = step_counts[step_counts['Variation'] == 'Test']
control_steps = step_counts[step_counts['Variation'] == 'Control']

average_steps_test = test_steps['step_count'].mean()
average_steps_control = control_steps['step_count'].mean()

print(f"Average steps completed per visit per day (Test Group): {average_steps_test}")
print(f"Average steps completed per visit per day (Control Group): {average_steps_control}")

Average steps completed per visit per day (Test Group): 3.500349424793033
Average steps completed per visit per day (Control Group): 3.3879013494648675

A/B testing for Conversion Rates: basis "confirm step" 

Hypothesis
Ho = no difference between number of users completeing the process, 
Ha= difference in number of users in control group and test group

In [68]:
control_conversions = control_group_1[control_group_1['process_step'] == 'confirm'].shape[0]
test_conversions = test_group_1[test_group_1['process_step'] == 'confirm'].shape[0]

n_control = control_group_1.shape[0]
n_test = test_group_1.shape[0]

control_conversion_rate = control_conversions / n_control 
test_conversion_rate = test_conversions / n_test 

print(f'Control Conversion Rate: {control_conversion_rate}')
print(f'Test Conversion Rate: {test_conversion_rate}')

Control Conversion Rate: 0.12201837420362187
Test Conversion Rate: 0.1446299347191687

In [69]:
from statsmodels.stats.proportion import proportions_ztest

count = np.array([control_conversions, test_conversions])
nobs = np.array([n_control, n_test])

stat, p_val = proportions_ztest(count, nobs)
print(f'Statistic: {stat}, P-value: {p_val}')

alpha = 0.05 

if p_val < alpha:
    print('Reject the null hypothesis: There is a significant difference between the control and test groups.')
else:
    print('Fail to reject the null hypothesis: There is no significant difference between the control and test groups.')

Statistic: -18.67324116863663, P-value: 8.173840595991908e-78
Reject the null hypothesis: There is a significant difference between the control and test groups.

Check for conversion rates each step wise

In [70]:
control_conversions = control_group_1[control_group_1['process_step'] == 'step_1'].shape[0]
test_conversions = test_group_1[test_group_1['process_step'] == 'step_1'].shape[0]

n_control = control_group_1.shape[0]
n_test = test_group_1.shape[0]

control_conversion_rate = control_conversions / n_control 
test_conversion_rate = test_conversions / n_test 

print(f'Control Conversion Rate for step_1: {control_conversion_rate}')
print(f'Test Conversion Rate for step_1: {test_conversion_rate}')

Control Conversion Rate for step_1: 0.20680040707643835
Test Conversion Rate for step_1: 0.21798512204310447

In [71]:
import scipy.stats as stats
steps_of_interest = ['step_1']

def calculate_step_counts(group, steps):
    counts = {}
    total_count = merged_webdata_client_expt_1.shape[0]
    for step in steps:
        step_count = merged_webdata_client_expt_1[merged_webdata_client_expt_1['process_step'] == step].shape[0]
        non_step_count = total_count - step_count
        counts[step] = (step_count, non_step_count)
    return counts


control_counts = calculate_step_counts(control_group, steps_of_interest)
test_counts = calculate_step_counts(test_group, steps_of_interest)

print('Control Counts:', control_counts)
print('Test Counts:', test_counts)


for step in steps_of_interest:
    control_step_count, control_non_step_count = control_counts[step]
    test_step_count, test_non_step_count = test_counts[step]
    
    contingency_table = [[control_step_count, control_non_step_count], [test_step_count, test_non_step_count]]
    
    # Chi-Square test
    chi2, p, dof, expected = stats.chi2_contingency(contingency_table)
    print(f'Step: {step} - Chi2: {chi2}, p-value: {p}')

    alpha = 0.05 
    if p < alpha:
        print(f'Significant difference in step {step} completion rates between control and test groups.')
    else:
        print(f'No significant difference in step {step} completion rates between control and test groups.')

Control Counts: {'step_1': (68436, 252873)}
Test Counts: {'step_1': (68436, 252873)}
Step: step_1 - Chi2: 0.0, p-value: 1.0
No significant difference in step step_1 completion rates between control and test groups.

In [72]:
steps_of_interest = ['step_2']

def calculate_step_counts(group, steps):
    counts = {}
    total_count = merged_webdata_client_expt_1.shape[0]
    for step in steps:
        step_count = merged_webdata_client_expt_1[merged_webdata_client_expt_1['process_step'] == step].shape[0]
        non_step_count = total_count - step_count
        counts[step] = (step_count, non_step_count)
    return counts

# Calculate completion and non-completion counts for control and test groups
control_counts = calculate_step_counts(control_group, steps_of_interest)
test_counts = calculate_step_counts(test_group, steps_of_interest)

print('Control Counts:', control_counts)
print('Test Counts:', test_counts)

# Chi-Square test for step_1
for step in steps_of_interest:
    control_step_count, control_non_step_count = control_counts[step]
    test_step_count, test_non_step_count = test_counts[step]
    
    contingency_table = [[control_step_count, control_non_step_count], [test_step_count, test_non_step_count]]
    
    # Chi-Square test
    chi2, p, dof, expected = stats.chi2_contingency(contingency_table)
    print(f'Step: {step} - Chi2: {chi2}, p-value: {p}')

    alpha = 0.05 
    if p < alpha:
        print(f'Significant difference in step {step} completion rates between control and test groups.')
    else:
        print(f'No significant difference in step {step} completion rates between control and test groups.')

Control Counts: {'step_2': (56875, 264434)}
Test Counts: {'step_2': (56875, 264434)}
Step: step_2 - Chi2: 0.0, p-value: 1.0
No significant difference in step step_2 completion rates between control and test groups.

In [73]:
steps_of_interest = ['step_3']

def calculate_step_counts(group, steps):
    counts = {}
    total_count = merged_webdata_client_expt_1.shape[0]
    for step in steps:
        step_count = merged_webdata_client_expt_1[merged_webdata_client_expt_1['process_step'] == step].shape[0]
        non_step_count = total_count - step_count
        counts[step] = (step_count, non_step_count)
    return counts

control_counts = calculate_step_counts(control_group, steps_of_interest)
test_counts = calculate_step_counts(test_group, steps_of_interest)

print('Control Counts:', control_counts)
print('Test Counts:', test_counts)

for step in steps_of_interest:
    control_step_count, control_non_step_count = control_counts[step]
    test_step_count, test_non_step_count = test_counts[step]
    
    contingency_table = [[control_step_count, control_non_step_count], [test_step_count, test_non_step_count]]
    
    chi2, p, dof, expected = stats.chi2_contingency(contingency_table)
    print(f'Step: {step} - Chi2: {chi2}, p-value: {p}')

    alpha = 0.05 
    if p < alpha:
        print(f'Significant difference in step {step} completion rates between control and test groups.')
    else:
        print(f'No significant difference in step {step} completion rates between control and test groups.')

Control Counts: {'step_3': (48689, 272620)}
Test Counts: {'step_3': (48689, 272620)}
Step: step_3 - Chi2: 0.0, p-value: 1.0
No significant difference in step step_3 completion rates between control and test groups.

Consideration: time taken to complete the process

hypothesis
H0 = same time is required for test group and control group to complete the process without error
Ha = time required is different for test groups and control groups

In [74]:
merged_webdata_client_expt_1['date_time'] = pd.to_datetime(merged_webdata_client_expt_1['date_time'], errors='coerce')
data = merged_webdata_client_expt_1.sort_values(by=['client_id', 'date_time'])
display(data)

,client_id,visitor_id,visit_id,process_step,date_time,date,year,month,time,quarters,Variation
72018,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,2017-04-15,2017,4,12:57:56,Q2,Test
72017,555,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,2017-04-15,2017,4,12:58:03,Q2,Test
72016,555,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,2017-04-15,2017,4,12:58:35,Q2,Test
72015,555,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,2017-04-15,2017,4,13:00:14,Q2,Test
72014,555,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,2017-04-15,2017,4,13:00:34,Q2,Test
...,...,...,...,...,...,...,...,...,...,...,...
471738,9999729,834634258_21862004160,870243567_56915814033_814203,step_2,2017-05-08 16:08:40,2017-05-08,2017,5,16:08:40,Q2,Test
471737,9999729,834634258_21862004160,870243567_56915814033_814203,step_3,2017-05-08 16:09:19,2017-05-08,2017,5,16:09:19,Q2,Test
471736,9999729,834634258_21862004160,870243567_56915814033_814203,confirm,2017-05-08 16:09:40,2017-05-08,2017,5,16:09:40,Q2,Test
356799,9999832,145538019_54444341400,472154369_16714624241_585315,start,2017-05-16 16:46:03,2017-05-16,2017,5,16:46:03,Q2,Test
356798,9999832,145538019_54444341400,472154369_16714624241_585315,step_1,2017-05-16 16:46:11,2017-05-16,2017,5,16:46:11,Q2,Test

In [75]:
data['time_diff'] = data.groupby('client_id')['date_time'].diff().fillna(pd.Timedelta(seconds=0))
display(data)

,client_id,visitor_id,visit_id,process_step,date_time,date,year,month,time,quarters,Variation,time_diff
72018,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,2017-04-15,2017,4,12:57:56,Q2,Test,0 days 00:00:00
72017,555,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,2017-04-15,2017,4,12:58:03,Q2,Test,0 days 00:00:07
72016,555,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,2017-04-15,2017,4,12:58:35,Q2,Test,0 days 00:00:32
72015,555,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,2017-04-15,2017,4,13:00:14,Q2,Test,0 days 00:01:39
72014,555,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,2017-04-15,2017,4,13:00:34,Q2,Test,0 days 00:00:20
...,...,...,...,...,...,...,...,...,...,...,...,...
471738,9999729,834634258_21862004160,870243567_56915814033_814203,step_2,2017-05-08 16:08:40,2017-05-08,2017,5,16:08:40,Q2,Test,0 days 00:00:10
471737,9999729,834634258_21862004160,870243567_56915814033_814203,step_3,2017-05-08 16:09:19,2017-05-08,2017,5,16:09:19,Q2,Test,0 days 00:00:39
471736,9999729,834634258_21862004160,870243567_56915814033_814203,confirm,2017-05-08 16:09:40,2017-05-08,2017,5,16:09:40,Q2,Test,0 days 00:00:21
356799,9999832,145538019_54444341400,472154369_16714624241_585315,start,2017-05-16 16:46:03,2017-05-16,2017,5,16:46:03,Q2,Test,0 days 00:00:00
356798,9999832,145538019_54444341400,472154369_16714624241_585315,step_1,2017-05-16 16:46:11,2017-05-16,2017,5,16:46:11,Q2,Test,0 days 00:00:08

In [76]:
completion_times = data[data['process_step'] == 'confirm']

completion_times = completion_times.groupby('client_id')['time_diff'].sum().reset_index()
completion_times.columns = ['client_id', 'total_time']

merged_data = pd.merge(completion_times, data[['client_id', 'Variation']].drop_duplicates(), on='client_id')

print(merged_data.head())

   client_id      total_time Variation
0        555 0 days 00:00:20      Test
1        647 0 days 00:02:43      Test
2       1195 0 days 00:01:23   Control
3       1197 0 days 00:00:17   Control
4       1336 0 days 02:16:06      Test

In [77]:
control_group = merged_data[merged_data['Variation'] == 'Control']
test_group = merged_data[merged_data['Variation'] == 'Test']

print(f'Control Group Size: {control_group.shape[0]}')
print(f'Test Group Size: {test_group.shape[0]}')

Control Group Size: 15434
Test Group Size: 18687

In [78]:
control_group['total_time_seconds'] = control_group['total_time'].dt.total_seconds()
test_group['total_time_seconds'] = test_group['total_time'].dt.total_seconds()

# t-test 
t_stat, p_value = stats.ttest_ind(control_group['total_time_seconds'], test_group['total_time_seconds'], equal_var=False)
print(f'T-test: t-statistic = {t_stat}, p-value = {p_value}')

if p_value < 0.05:
    print('Significant difference in completion times  between control and test groups.')
else:
    print(' No significant difference in completion times between control group and test group')

T-test: t-statistic = -9.944729745762952, p-value = 2.8613509338995006e-23
Significant difference in completion times  between control and test groups.

C:\Users\hajar\AppData\Local\Temp\ipykernel_6576\4201410357.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  control_group['total_time_seconds'] = control_group['total_time'].dt.total_seconds()
C:\Users\hajar\AppData\Local\Temp\ipykernel_6576\4201410357.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_group['total_time_seconds'] = test_group['total_time'].dt.total_seconds()

In [79]:
u_stat, p_value_mannwhitney = stats.mannwhitneyu(control_group['total_time_seconds'], test_group['total_time_seconds'], alternative='two-sided')
print(f'Mann-Whitney U test: U-statistic = {u_stat}, p-value = {p_value_mannwhitney}')

if p_value < 0.05:
    print('Significant difference in completion times  between control and test groups.')
else:
    print(' No significant difference in completion times between control group and test group')

Mann-Whitney U test: U-statistic = 152055769.0, p-value = 4.4572011177120354e-18
Significant difference in completion times  between control and test groups.

Hypotheses 3:   if chances of errors is reduced between test and control group 

Ho = No difffrence in error counts from moving step-1 to step_2 to step_3 to completion between control group and test group
Ha = There is difference in error counts

In [80]:
data['date_time'] = pd.to_datetime(data['date_time'], errors='coerce')

# Handle any potential missing datetime values due to parsing errors
data = data.dropna(subset=['date_time'])

# Sort the data by client_id, visitor_id, visit_id, and date_time
data = data.sort_values(by=['client_id', 'visitor_id', 'visit_id', 'date_time'])

# Identify errors: missing progression from one step to the next
def calculate_errors(df):
    df['next_step'] = df.groupby(['client_id', 'visitor_id', 'visit_id'])['process_step'].shift(-1)
    df['error'] = (df['process_step'] == 'step_1') & (df['next_step'] != 'step_2')
    df['error'] |= (df['process_step'] == 'step_2') & (df['next_step'] != 'step_3')
    df['error'] |= (df['process_step'] == 'step_3') & (df['next_step'] != 'confirm')
    error_counts = df.groupby(['client_id', 'Variation'])['error'].sum().reset_index()
    return error_counts

error_counts = calculate_errors(data)

In [81]:
error_counts.to_csv('error_counts.csv', index=False)

In [82]:
control_group_errors = error_counts[error_counts['Variation'] == 'Control']['error']
test_group_errors = error_counts[error_counts['Variation'] == 'Test']['error']

print(f'Control Group Error Counts: {control_group_errors.sum()}')
print(f'Test Group Error Counts: {test_group_errors.sum()}')

# Calculate the total number of errors and non-errors for each group
control_errors = control_group_errors.sum()
test_errors = test_group_errors.sum()

control_non_errors = control_group_errors.count() - control_errors
test_non_errors = test_group_errors.count() - test_errors

contingency_table = [[control_errors, control_non_errors], [test_errors, test_non_errors]]

# chi-squared test
chi2, p_value, _, _ = stats.chi2_contingency(contingency_table)

print(f'Chi-squared Test: chi2 = {chi2}, p-value = {p_value}')

alpha = 0.05  # significance level
if p_value < alpha:
    print('Reject Ho: Significant difference in error counts between control and test groups.')
else:
    print('Fail to reject Ho: No significant difference in error counts between control and test groups.')

Control Group Error Counts: 19464
Test Group Error Counts: 25585
Chi-squared Test: chi2 = 1928.1225807577503, p-value = 0.0
Reject Ho: Significant difference in error counts between control and test groups.

Retention rate

In [89]:
merged_webdata_client_expt_1['date_time'] = pd.to_datetime(merged_webdata_client_expt_1['date_time'], errors='coerce')
merged_webdata_client_expt_1 = merged_webdata_client_expt_1.dropna(subset=['date_time'])

merged_webdata_client_expt_1 = merged_webdata_client_expt_1.sort_values(by=['client_id', 'date_time'])


first_visit = merged_webdata_client_expt_1.groupby('client_id')['date_time'].min().reset_index()
first_visit.columns = ['client_id', 'first_visit']
last_visit = merged_webdata_client_expt_1.groupby('client_id')['date_time'].max().reset_index()
last_visit.columns = ['client_id', 'last_visit']

visits = pd.merge(first_visit, last_visit, on='client_id')
visits['retained'] = visits['first_visit'] != visits['last_visit']


visits = pd.merge(visits, merged_webdata_client_expt_1[['client_id', 'Variation']].drop_duplicates(), on='client_id')

retention_counts = visits.groupby('Variation')['retained'].sum().reset_index()
total_counts = visits.groupby('Variation')['retained'].count().reset_index()
retention_summary = pd.merge(retention_counts, total_counts, on='Variation')
retention_summary.columns = ['Variation', 'retained_count', 'total_count']
retention_summary['retention_rate'] = retention_summary['retained_count'] / retention_summary['total_count']

print(retention_summary)

  Variation  retained_count  total_count  retention_rate
0   Control           21280        23532        0.904301
1      Test           25570        26968        0.948161

In [90]:
from scipy.stats import chi2_contingency

control_retained = retention_summary[retention_summary['Variation'] == 'Control']['retained_count'].values[0]
test_retained = retention_summary[retention_summary['Variation'] == 'Test']['retained_count'].values[0]
control_total = retention_summary[retention_summary['Variation'] == 'Control']['total_count'].values[0]
test_total = retention_summary[retention_summary['Variation'] == 'Test']['total_count'].values[0]

contingency_table = [
    [control_retained, control_total - control_retained],
    [test_retained, test_total - test_retained]
]

chi2, p, _, _ = chi2_contingency(contingency_table)

print(f'Chi-square statistic: {chi2}')
print(f'p-value: {p}')

alpha = 0.05
if p < alpha:
    print('Reject Ho: Significant difference in retention rates between test and control groups.')
else:
    print('Fail to reject Ho: No significant difference in retention rates between test and control groups.')

Chi-square statistic: 359.8740419344505
p-value: 2.9992383419508544e-80
Reject Ho: Significant difference in retention rates between test and control groups.